/* Golos Text */

@font-face {
    font-family: 'Golos Text';
    src: url('@/shared/assets/fonts/GolosText/GolosText-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('@/shared/assets/fonts/GolosText/GolosText-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url('@/shared/assets/fonts/GolosText/GolosText-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Mono */

@font-face {
    font-family: 'Roboto Mono';
    src: url('@/shared/assets/fonts/RobotoMono/RobotoMono-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('@/shared/assets/fonts/RobotoMono/RobotoMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}