:root {
    --page-color: #141414;
    --primary-color: #fff;
    --secondary-color:#141414;
    --orange-color: #EACB2D;
    --red-color: #EB4E4B;
    --inner-bg:#272626;
    --blue-color: #3383fa;
    --green-color: #17A060;
    --gray-color:#A3A2A2;
    --gray-color-2:#3A3A3A;
}

body {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--page-color);
    color: var(--primary-color);
}

svg {
    flex-shrink: 0;
}

h3 {
    font-size: 22px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

.body-overflow {
    height: 100dvh;
    overflow: hidden;
}

.app {
    min-height: 100dvh;
    padding: 66px 0 34px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.app section {
    padding: 0 16px;
}

.app-with-menu {
    padding-bottom: 95px;
}

.bg-app {
    background: url("@/shared/assets/images/world-map.png") no-repeat top center / auto ;
}