.box {
    padding: 12px 16px;
    gap: 12px;
    display: flex;
    align-items: center;
}

.right {
    margin-left: auto;
    text-align: end;
    font-size: 14px;
}

.date {
    margin-top: 6px;
    font-size: 10px;
    display: flex;
    align-items: center;
    color: #737787;
    gap: 4px;
    justify-content: end;
}