.step {
    width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.text {
    margin-top: 8px;
    color: var(--gray-color);
    font-size: 12px;
    text-align: center;
}