.text.medium {
    font-size: 14px;
}

.text.small {
    font-size: 13px;
}

.text a {
    color: #428BF9;
}


.text.primary {
    color: var(--primary-color);
}

.text.gray {
    color: var(--gray-color);
}