.box {
    margin: 14px 0;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    position: relative;
    padding: 0;
    height: auto;
    overflow: visible;
}

.button::after {
    content: '';
    left: 50px;
    right: 12px;
    bottom: -10px;
    height: 1px;
    position: absolute;
    z-index: 2;
    background-color:  rgba(255, 255, 255, 0.13);
}

.button:last-child::after  {
    display: none;
}