.box {
    padding: 16px 16px 12px;
    background-color: var(--inner-bg);
    border-radius: 16px;
    position: relative;
}

.bottomText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 0 6px;
    transform: translateY(calc(100% - 28px));
    border-radius: 0 0 16px 16px;
    text-align: center;
    background-color: var(--gray-color-2);
    font-size: 12px;
    z-index: -1;
    color: #939393;
}

.withBottomText {
    margin-bottom: 38px;
    display: block;
}