.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(6px);
    z-index: 150;
    align-items: center;
    display: none;
    padding: 16px;
}

.open {
    display: flex;
}

.content {
    width: 100%;
    position: relative;
    transform: scale(.5);
    transition: .2s all linear;
}

.content.showed {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}