.slider {
    height: 28px;
    padding: 0;
}

.rc-slider-track {
    border-radius: 999px 0 0 999px;
    background-color: var(--orange-color);
    height: 100%;
}

.rc-slider-dot {
    width: 10px;
    height: 10px;
    background-color: var(--orange-color);
    border: none;
}

.rc-slider-dot-active {
    background: rgba(20, 20, 20, 0.7);
}

.rc-slider-rail {
    border-radius: 999px;
    height: 28px;
    background-color: var(--inner-bg);

}

.max-reached .rc-slider-rail {
    background-color: var(--orange-color);
}

.slider .rc-slider-step {
    top: 50%;
}

.rc-slider-mark {
    top: auto;
    bottom: -10px;
    transform: translateY(-100%);
}

.rc-slider-handle {
    width: 32px;
    height: 32px;
    margin-top: -1px;
    border:4px solid var(--secondary-color);
    background-color: var(--orange-color);
    opacity: 1;
}

.rc-slider-handle:focus,
.rc-slider-handle:hover,
.rc-slider-handle:active,
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
    box-shadow: none;
    border:4px solid var(--secondary-color);
    background-color: var(--orange-color);
    outline: none;
}

.rc-slider-mark-text {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
}
