.link {
    margin-top: 10.5px;
    color: #D4D4D4;
    font-size: 14px;
    margin-top: 8px;
}

.load {
    animation: load 1s linear infinite;
    display: block;
    margin: 24px auto;

}

@keyframes load {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}