.button {
    width: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 500;
    border-radius: 16px;
    background-color: var(--inner-bg);
    transition: all .2s linear;
}

.button:active {
    background-color: #1a1a1a;
}

.button.center {
    justify-content: center;
}

.button.blue {
    background-color: var(--blue-color);
}


.button.blue:active {
    background-color: #2d78ec
}

.button.gray {
    background-color: var(--gray-color-2);
}

.button.gray:active {
    background-color: #333232;

}
.button.red {
    background-color: transparent;
    color: var(--red-color);
}

.button.large {
    height: 58px;
    font-size: 18px;
}

.button.medium {
    height: 50px;
    font-size: 18px;
}

.button.small {
    height: 46px;
    border-radius: 12px;
}
