.button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 500;
    border-radius: 16px;
    background-color: var(--inner-bg);
}

.button.center {
    justify-content: center;
}

.button.blue {
    background-color: var(--blue-color);
}

.button.red {
    background-color: transparent;
    color: var(--red-color);

}

.button.large {
    height: 58px;
    font-size: 18px;
}

.button.medium {
    height: 50px;
    font-size: 18px;
}

.button.small {
    height: 46px;
}
