.title {
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}

.error {
    color: var(--red-color);
    margin-top: 6px;
    font-size: 12px;
}

.right {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    color: var(--primary-color);
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #282727;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
}