.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px 24.5px 14px;
    border-radius: 26px 26px 0px 0px;
    background: rgba(41, 43, 49, 1);
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.menu::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    filter: blur(80px);
    background: rgba(217, 217, 217, 1);
    opacity: 0.1;
}

