.wrapper {
    position: relative;
}

.input {
    width: 100%;
    padding: 12px;
    background-color: var(--gray-color-2);
    border-radius: 10px;
}

.input::placeholder {
    color: var(--gray-color);
}

 .delete {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}

