.wrapper {
    position: relative;
}

.input {
    width: 100%;
    padding: 12px;
    background-color: #3A3A3A;
    border-radius: 10px;
}

.input::placeholder {
    color: var(--gray-color);
}

.tablet, .delete {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}

.tablet {
    color: var(--primary-color);
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #282727;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
}