.details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}

.button {
    gap: 12px;
}

.tablet {
    font-weight: 600;
    line-height: 12px;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: var(--orange-color);
    color: var(--secondary-color);
}

.end {
    margin-left: auto;
    text-align: end;
}

.device {
    display: block;
    font-size: 11px;
    color: var(--gray-color);
    margin-top: 2px;
}