.button {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: var(--inner-bg);
    border-radius: 16px;
    text-align: start;
    overflow: hidden;
}

.name {
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 2px;
}

.end {
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    margin-left: auto;
    color: #A2A2A2;
}