.logo {
    text-align: center;
}

.name {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 26px;
    font-weight: 600;
}

.vpn {
    padding: 5px 8px;
    font-size: 16px;
    line-height: 1;
    color: var(--page-color);
    background-color: var(--secondary-color);
}