.devices {
    width: fit-content;
    height: 30px;
    padding: 0 10px;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    line-height: 28px;
}

.devices.full {
    border: 1px solid var(--red-color);
    color: var(--red-color);
}