.flex {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.status {
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.copy {
    height: 16px;
}

.img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: 500;
    margin-top: 18px;
}

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--gray-color);
    --copy-color: var(--gray-color);
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}